{% extends "default.html" %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% block title %}Editar usuario{% endblock %}

{% block content %}
<h1>Cambia la información del usuario</h1> 

<form action={{url_for(".edit_labeller")}} method="POST" accept-charset="utf-8" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ render_field(form.username)}}
    {{ render_field(form.name)}}
    {{ render_field(form.passwd)}}
    {{ render_field(form.taskid)}}
	{{ form.save() }}
	{{ form.cancel() }}
</form>


{%endblock%}


