{% extends "base.html" %}
{% block title %}Irónico o no irónico{% endblock %}

{% block content %}
{% from "flask_user/_macros.html" import render_field %}

<br/>
<br/>
<div class="row">
<div class="large-6 large-centered columns">
<blockquote class="twitter-tweet" lang="en"><p lang="es" dir="ltr">{{tweet.text}}<a href="https://twitter.com/arbolfest/status/{{tweet.tweetid}}"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<br/>
<br/>

{% if doubt %}
<form action="{{url_for('.index')}}" method="POST" class="form" role="form">
{% else %}
<form action="{{url_for('.doubts')}}" method="POST" class="form" role="form">
{% endif %}
<div class="row">
<div class="large-6 large-centered columns">
<div class="large-4 columns">
    {{ render_field(form.dependsImage) }}
</div>
<div class="large-4 columns">
    {{ render_field(form.dependsLink) }}
</div>
<div class="large-4 columns">
    {{ render_field(form.dependsRetweet) }}
</div>
</div>
</div>
<div class="row">
<div class="large-6 large-centered columns">
<div class="large-2 columns">
	<input name="submit" type="submit" class="button radius success" value="ironic"/>
</div>
<div class="large-2 large-offset-2 columns">
	<input name="submit" type="submit" class="button radius alert" value="noironic"/>
</div>
{%if doubt %}
<div class="large-2 large-offset-2 columns">
	<input name="submit" type="submit" class="button radius" value="doubt"/>
</div>
{% endif %}
</div>
</div>
</form>
{%endblock%}


