{% extends "base.html" %}


{% block title %}Listar usuarions{% endblock %}

{% block content %}
<h1>Usuarios</h1> 

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th with="400">Nombre</th>
      <th>Task</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
  	<tr>
	<td>{{user.username}}</td>
	<td>{{user.name}}</td>
	<td>{{user.task.name}}</td>
    <td>
		{% if user.name %}
		<a class="button round small" href="{{url_for('.edit_labeller',username=user.username)}}">Editar</a>
		{% endif %}
	</td>
	</tr>
  {% endfor %}

  </tbody>

</table>
{%endblock%}


